/* resets */
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background: transparent;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-thumb {
  background: #285ff5;
  border: 0;
  border-radius: 0;
}
::-webkit-scrollbar-thumb:hover {
  background: #b2b5be;
}
::-webkit-scrollbar-thumb:active {
  background: #285ff5;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0;
  border-radius: 0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
@font-face {
  font-family: Lato;
  src: url("Lato-Light.ttf");
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #b2b5be;
  background: #131722;
}
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; 
  font-weight: 400;
  line-height: 20px;
}
iframe {
  width: 100%;
  height: 100%;
  border: 0;
}
a {
  text-decoration: none;
}

/* menu */
.menubar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  padding: 10px;
  background: #131722;
}
.menubarflex {
  position: absolute;
  top: 0;
  left: 12px;
  height: 100%;
}
.menubarflex a {
  cursor: pointer;
}
.menubarflex img {
  height: 100%;
/*  transform: scale(.6);*/
  transform: scale(.7);
}
.menubarflex.scroll {
  position: absolute;
  left: 64px;
  right: 0;
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
.menubarflex.scroll a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  position: relative;
  margin-right: -5px;
  float: none;
  color: #b2b5be;
  border: 1px solid #2a2e39;
  border-right: none;
}
.menubarflex.scroll a:hover {
  background: #2a2e39;
}
.menubarflex.scroll a:last-child {
  border-right: 1px solid #2a2e39;
}

.openedmenubar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  padding: 10px;
}
.openedmenubar {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #2a2e39;
}
.openedmenubarflex {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: #131722;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}
.openedmenubarflex a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #b2b5be;
  border-right: 1px solid #2a2e39;
  font-size: 20px;
  padding: 10px;
  margin: -11px 0;
}
.openedmenubarflex a:hover {
  background: #2a2e39;
}
.openedmenubarflex a:last-child {
  border-right: 0;
}
.openedmenubarflex svg {
  width: 100%;
/*  max-width: 25px;*/
  max-height: 25px;
  height: 100%;
}
.grid {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
.tradehistory, .video, .news {
  position: absolute;
  display: block;
}
.tradehistory {
  top: 0;
  left: 0;
  right: 50%;
  bottom: 0;
  text-align: center;
  border-right:1px solid #2a2e39;
  overflow: auto;
  height: auto;
  width: auto;
  visibility: visible;
}
.video {
  top: 0;
  right: 0;
  left: 50%;
  bottom: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #2a2e39;
}
.video svg {
  width: 100%;
  height: 100%;
}
.news {
  top: 50%;
  right: 0;
  left: 50%;
  bottom: 0;
  height: auto;
  width: auto;
  visibility: visible;
}
.mobilemenu {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
}
/* show mobile menu when screen size is for smaller screens */
@media screen and (max-width: 600px) {
  .mobilemenu {
    display: block;
  }
  .video {
    display: none;
  }
  .tradehistory, .news {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .tradehistory, .news {
    visibility: hidden;
    height: 0;
    width: 0;
  }
}
.mobilemenu .scroll {
  position: absolute;
  top: 0;
  border-top: 1px solid #2a2e39;
  bottom: 0;
  left: 0;
  right: 0;
  
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.mobilemenu a {
  cursor: pointer;
  text-decoration: none;
  color: #b2b5be;
  font-size: 3em;
  padding: 10px;
  border-bottom: 1px solid #2a2e39;
}
.dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #131722;
}
.dialog .scroll {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 70px;
  overflow: auto;
}
.videoplayer, .videoplayer iframe {
  width: 100%;
  height: 100%;
}
.dialog a#closedialog {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f23645;
  text-align: center;
  font-size: 3em;
  padding: 10px;
}

/* chart */
.chart, .tradingview-widget-container {
  position: absolute;
  top: 39px;
  left: 0;
  right: 0;
  bottom: 24px;
  height: auto!important;
  background: #131722;
  border-top: 1px solid #2a2e39;
  border-bottom: 1px solid #2a2e39;
}
.tradingview-widget-container {
  top: 0;
}
.chart iframe,
.news iframe {
  width: 100%!important;
  height: 100%!important;
  border: 0;
  margin: 0!important;
  padding: 0!important;
}
.news .tradingview-widget-container {
  height: calc(100% - 4px)!important;
}

/* trading */
.trading {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #131722;
}
.tradingflex {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px 0;
  background: #131722;
  
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-around;
  justify-content: space-around;
}
.tradingflex a {
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  color: #b2b5be;
  background: transparent;
  border: 0;
}
.tradingflex a[disabled] {
  opacity: 0.4;
}
.tradingflex a:hover {
  background: transparent;
  border: 0;
}
.tradingflex svg {
  width: 100%;
/*  max-width: 25px;*/
  max-height: 25px;
  height: 100%;
}
.tradingflex a.green,
.openedmenubarflex a.green, .green {
  color: #089981;
}
.tradingflex a.red,
.openedmenubarflex a.red, .red {
  color: #f23645;
}
.menubarflex.scroll a.blue,
.tradingflex a.blue,
.openedmenubarflex a.blue, .blue {
  color: #285ff5;
}
.tradingflex a.neutral,
.openedmenubarflex a.neutral, .neutral {
  color: #b2b5be;
}

/* trade history */
.trade {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
  flex-direction: row;
  border-bottom: 1px solid #2a2e39;
  padding: 1em;
}
.trade > div > div {
  padding: 5px 0;
}
.trade > div:nth-child(1) {
  text-align: left;
}
.trade > div:nth-child(2) {
  text-align: right;
}
.trade .currency {
  color: #285ff5;
}
.trade .bet .fa-arrow-up {
  color: #089981;
  transform: rotate(45deg);
}
.trade .bet .fa-arrow-down {
  color: #f23645;
  transform: rotate(-45deg);
}
.trade .win, .trade .won, .trade .green {
  color: #089981;
}
.trade .loss, .trade .lost, .trade .red {
  color: #f23645;
}

/* modals */
.swal2-content {
  font-size: 1.125em;
  font-weight: 100;
  line-height: normal;
  word-wrap: break-word;
  text-align: center;
  color: #fff;
}
.swal2-show {
  font-size: 14px;
  background: #131722;
}
.swal2-show a {
  color: #3085d6;
  font-size: 1.125em;
}
.swal2-title,
.swal2-content h1,
.swal2-content h2,
.swal2-content h3,
.swal2-content h4,
.swal2-content h5 {
  font-weight: 100;
  color: #fff;
}
.swal2-title,
.swal2-content h1 {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
}
.swal2-input[type=number] {
  color: #131722;
  background: #fff;
}

/* misc */
.ib {
  display: inline-block;
}